#add_region_modal.modal.fade.show{
    z-index: 1050 !important;
    opacity: 1 !important;
}

#add_contract_modal.modal.fade.show{
    z-index: 1050 !important;
    opacity: 1 !important;
}

#add_value_modal.modal.fade.show{
    z-index: 1050 !important;
    opacity: 1 !important;
}

#add_reason_modal.modal.fade.show{
    z-index: 1050 !important;
    opacity: 1 !important;
}

.modal-title{
    font-size: 20px
}

.model-item-text{
    font-size: 13px !important
}

.buttonModalSave, .buttonModalEdit{
    font-size: 14px !important
}

.buttonModalCancel{
    font-size: 14px !important
}

.region-input{
    text-transform: uppercase
}

.custom-select-lg {
    font-size: 136% !important;
}

.custom-control-label::before {
    top: 0rem !important;
    left: -1.7rem !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
}

.custom-control-label::after {
    top: 0rem !important;
    left: -1.7rem !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
}

.custom-control-label{
    font-size: 15px !important;
    font-weight: 100 !important;
}

.custom-radio {
    line-height: 18px !important;
}

.addNewReasonDebit, .addNewReasonCredit {
    font-size: 13px;
}

.margintop16px{
    margin-top: -16px
}

.reason-input{
    text-transform: uppercase !important
}