<template name="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/img/logo02.png" class="figure-img img-fluid rounded navLogo" alt="Logo Cruz de Malta.">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Contratos ativos
                        <!-- <span class="sr-only">(current)</span> -->
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contracts_arquived">Contratos arquivados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/patios">Patios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/regions">Regiões</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reports">Relatórios</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Ações
                    </a>
                    <div class="dropdown-menu animated fadeIn" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item add_contract" style="cursor: pointer">Adicionar contrato</a>
                        <a class="dropdown-item add_patio" style="cursor: pointer">Adicionar pátio</a>
                        <a class="dropdown-item add_region" style="cursor: pointer">Adicionar região</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item edit_reasons_debit">Editar razões débito</a>
                        <a class="dropdown-item edit_reasons_credit">Editar razões crédito</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item edit_pendencies">Editar pendências</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item generate_report">Gerar relatório</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item create_user">Criar usuário</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                {{#if currentUser}}<h5>Olá, {{currentUser.name}} <a class="linkConfig logoff">(Deslogar)</a>&nbsp;&nbsp;</h5>{{/if}}
                <input class="form-control mr-sm-2 search" type="search" placeholder="Procurar..." aria-label="Search">
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Procurar</button> -->
            </form>
        </div>
    </nav>
    {{> add_region}}
    {{> add_contract}}
    {{> add_patio}}
    {{> add_pendency}}
    {{> add_report}}
    {{> new_user}}
    {{> reasons}}
    {{> pendencies}}
</template>